<h1>Links</h1>

<% @links.each do |link| %>

  <p> <%= link.url %> -  <%= link_to short_link_url(link.uid) %> - <%= pluralize link.count, 'visit' %></p>

<% end %>

<%= link_to 'new link', new_link_path %>
