<%= render 'form' %>

<table class='table table-hover table-striped'>

  <tr>
    <td>URL</td>
    <td>'short' URL</td>
    <td>visits count</td>
  </tr>

  <% @links.each do |link| %>
    <tr>
      <td><%= link.url %></td>
      <td><%= link_to short_link_url(link.uid), short_link_url(link.uid) %></td>
      <td><%= pluralize link.count, 'visit' %></td>
    </tr>
  <% end %>

</table>

